@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&display=swap');

$primary-color: #1B75BB;

body {
  font-family: 'Gelasio', serif;
}

.container {
  max-width: 1300px;
}

.btn-primary {
  padding: 15px 30px;
  background-color: $primary-color;
  border-radius: 5px;
  font-weight: 500;
}

.navbar {
  background-color: transparent !important;
  .container-fluid {
    background-color: transparent !important;
  }
  .navbar-nav {
    width: 100%;
  }

  .nav-link {
    padding: 8px 20px !important;
    color: #081F32;
    &.active {
      color: $primary-color;
    }
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.uptitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
}

#home {
  background-image: url(../img/home.png);
  background-size: cover;
  background-position: bottom right;
  min-height: 500px;
  height: 100vh;
}

.findBox {
  transform: translateY(-50%);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

iframe {
  border-radius: 10px;
}

.backImg {
  position: absolute;
  width: 70%;
  top: -60px;
  right: -50px;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  .toleft {
    transform: translateX(-60px);
  }
}

#rooms {
  .box {
    height: 340px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-right-radius: 10px;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
      padding: 20px;
      transition: 0.2s;
    }

    &:hover {
      .info {
        backdrop-filter: blur(0);
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.swiper-wrapper {
  height: 400px;
}
.swiper-slide {
  padding-top: 80px !important;
  .quote {
    display: block;
    text-align: left;
    line-height: 0;
    font-size: 50px;
  }
}


.subscribe-form {
  margin-top: 20px !important;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;

  input {
    padding: 15px;
    width: 40%;
    min-width: 200px;
    border: 0.2px solid rgba(128, 128, 128, 0.349);
    border-right: none;
    outline:none;
  }
  .btn-primary {
    padding: 15px 40px;
  }
}

footer {
  li {
    margin-bottom: 20px;
  }
  form {
    width: fit-content !important;
  }
}

.social-links {
  i {
    margin-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .navbar-nav {
    background-color: #ECE7E2;
    margin-top: -40px;
    text-align: center;

  }
  .subscribe-form {
    border: none;
    align-items: center;
    gap: 20px;
    input {
      border: 0.2px solid rgba(128, 128, 128, 0.349);
    }
  }

  footer {
    text-align: center;
    .fw-bold {
      margin-top: 20px;
    }

    margin-bottom: 40px;
  }
}
